<div class="text-center mt-5">
    <h2>Acesso negado</h2>
    <p>Você não tem permissão para acessar esta página.</p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-dark">Ir para Login</a>
</div>